* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/bg-pattern-desktop.svg");
}

header {
    margin: 20px 0 30px 40px;
    margin-bottom: 30px;    
}

.logo{
    height:20px;
}

.modelMobile {
    width: 100%;
    margin-bottom: 60px;
}

h1 {
    margin: 0 auto 20px auto;
    padding: 0 40px 0 40px;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: hsl(0, 6%, 24%);
    text-align: center;
    font-weight: 600;
    max-width: 300px;
}

#We-re{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

#paragraphMain {
    padding: 0 10px 0 10px;
    margin: 0 5px 30px 5px;
    text-align: center;
    color:hsl(0, 36%, 70%);
    line-height: 25px;
}

form {
    height:80px;    
    text-align: center;
    margin-bottom: 50px;
    margin-left: 15px;
    position: relative;
}

input {
    height: 40px;
    width: 280px;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    outline:none;
    padding-left: 20px;    
}


input::placeholder{
    padding-left: 15px;
    color:hsl(0, 36%, 70%);
}


button{
    height: 40px;
    width: 55px;
    border-radius: 50px;
    font-weight: 600;    
    padding: 0;    
    position: absolute;
    left: 68%;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    outline:none;    
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsla(0, 89%, 89%, 0.952));
}

.errorMessage{
    width: 190px;
    margin-top: 10px;
    margin-left: 35px;
    text-align: left;
    color: hsl(0, 93%, 68%);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 20%;     
}

.errorIcon{
    position: absolute;
    top: 12%;
    left: 62%;
    height: 20px;
    opacity: 0;
}

@media screen and (min-width: 600px){

    .logo {
        height: 30px;
        margin-left: 90px;
        margin-bottom:80px;
    }
    
    .container{
        display:flex; 
    }
    
    .left{
        width: 60%;
        background-image: url("images/bg-pattern-desktop.svg");
        background-size: cover;
        background-position: center center;
    }

    h1{
        text-align: left;
        font-size:40px;
        margin-left: 120px;
        padding-left:10px;       
    }

    .innerContainer{
        max-width: 600px;
        
    }

    #paragraphMain{
        text-align: left;
        margin-left: 120px;
    }

    form{
        margin-left: 120px;
        text-align:left;
    }

    button{
        left: 250px;
    }

    .errorIcon{
    left: 220px;
    }

    .errorMessage{
    left: -8px;   
    }

    .right {
        width: 40%;
        height:600px;

    }

    .modelMobile{
        display:none;
    }

    .modelDesktop{
        background-image: url('./images/hero-desktop.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media (min-width: 599px) and (max-width: 737px){

    input{
        width: 200px;
    }

    button{
        left:160px;
    }  

    .errorIcon{
    left: 132px;
    }

    .errorMessage{
    left: -8px;     
    }

}

